.img
{
	border-radius: 50%;
	padding:7px;
}
body
{
	margin-left: 100px;
	font-size: 14px;
}
.bg
{
   background-color: #96caee;

}
.bg1
{
	background-color: #f5f6f7;
}
.hr
{
	width:20%;
}
progress
{ 
	width:400px;
	height:40px;

}
li
{
	margin-left: 10px;
}
tr
{
	font-size: 13.5px;
}